/*RESET CSS - Usando apenas o "*" podemos modificar definições gerais do CSS padrão */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh; /*Altura 100% da Viewport Height vh*/
    width: 100%; /*Em telas menores do que a max-width usa 100% da tela*/
    max-width: 1200px; /* Impede o uso de espaçamentos maiores em telas de maior dimensão definindo a largura máxima do container*/
    margin: 0 auto; /*Define margens com a primeira informação para inferior e superior e a segunda para esquerda e direita*/
    box-sizing: border-box; /*Essa característica impede que os elementos filhos ultrapassem os limites dos elementos pai*/
    /* box-sizing: content-box; Já essa opção permite que os elementos filho sejam maiores que os elementos pai. */
    background-color: black;
    color: #F6F6F6;
    justify-content: space-between;
}

.presentation{  
    margin: 10% 15%; /*Margem relativa aos limites da viewport*/
    display: flex;
    align-items: center;
    flex-direction: row; /*Define se o alinhamento será em linhas ou colunas*/
    /*flex-direction: column;*/
    flex-wrap: nowrap; /*Mantem o alinhamento em uma única linha independente da largura da tela adicionando scrols*/
    /*flex-wrap: wrap; /*Permite que o layout seja organizado para criar novas linhas conforme o tamanho da tela*/
    justify-content: space-between;
}

.presentation__content{
    width: 615px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;/*O gap não é uma tag específica do flexbox, mas é comumente usada em conjunto com ele para determinar espaçamento entre linhas e colunas
    podendo ser usado para o mesmo fim com grid, flex ou multi-column. Aceita um ou dois valores.*/
    /*https://css-tricks.com/ Para artigos sobre dicas de css*/
    /*https://www.alura.com.br/artigos/css-guia-do-flexbox Guia da Alura sobre Flexbox*/
}

.presentation__content__tittle{
    font-family: "Krona One", sans-serif;
    font-size: 36px;
    font-weight: 400;
}

.presentation__content__paragraph{
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
}

.presentation__links{
    max-height: 79px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.presentation__links__buttons{
    align-items: center; /*Propriedade do modelo de layout display Flexbox que determinou o alinhamento vertital do texto.*/
    /*text-align: center; Esse é um estilo só aplicável em elementos definidos como display: block e não funciona em display: flex*/
    width: 280px;
    box-sizing: border-box; /*Não permite que os elementos filho avancem além do elemento pai*/
    padding: 21px auto;
    background: #22D4FD;
    border-radius: 16px;
    color: black;
    font-size: 24px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    padding: 25px;
}

.Imagem{
    padding: 30px;
}

h1{
    font-family: "Krona One";
}

p{

}

a{

}

a:link{
    text-decoration: none;
    display: flex;
    justify-content: center;
}

a:visited{
    text-decoration: none;
}

/*IDS DE ELEMENTOS*/
/*O # é usado para designar um id enquanto o . designa uma classe*/
#titleStrong{
    color: #22D4FD;
}


